/* Write your CSS here. */
.wgs {
    height: ;
    width: ;
    position: ;
}

.wgs__mole-head {
    height: ;
    width: ;
    position: ;
}

.wgs__dirt-pile {
    height: ;
    width: ;
    position: ;
}
