/* Write your CSS here. */

/* div {
    display: inline-block
} */
.wgs {
  display: inline-block;
  height: 482px;
  width: 640px;
  position: relative;
  overflow: hidden;
}
.wgs__mole-head--hidden {
  margin-top: 482px;
  display: inline-block;
}

.wgs__mole-head {
  /* height: ; */
  width: 376px;
  position: absolute;
  left: 109px;
}

.wgs__dirt-pile {
  height: 220px;
  width: 640px;
  position: absolute;
  top: 262px;
}
